resource_group_name     = 
location                = 
storage_account_name    = 
container_name          = 

mongo_db_name           = 
admin_user              = 
admin_password          = 
subscription_id         = 

app_service_plan_name   = 
web_app_1_name          = 
web_app_2_name          = 
